{
	"Debug": true,
    "LogPath": "/var/log/NagiosNotifier.log",
	"SlackHookURL": "https://hooks.slack.com/services/STRING/STRING",
	"TeamsHookURL": "https://outlook.office.com/webhook/WEBHOOKGUID",
	"SlackChannel": "#testing",
	"SlackUsername": "NagiosBot",
	"SlackIconURL": "",
	"SlackNagiosLink": "<http://mynagios.com|Primary Nagios>",
    "NagiosAckURL": "http://mynagios.com/nagios/cgi-bin/cmd.cgi?cmd_typ=",
    "AlertSlack": true,
    "AlertTeams": true,
    "ProblemColor": "eb4034",
    "RecoveryColor": "62eb34",
    "AcknowledgeColor": "e8eb34",
    "FlappingStartColor": "eb4034",
    "FlappingStopColor": "62eb34",
    "FlappingDisabledColor": "e8eb34",
    "DowntimeStartColor": "e8eb34",
    "DowntimeStopColor": "62eb34",
    "DowntimeCancelledColor": "e8eb34",
    "DefaultColor": "eb4034",
    "TeamsSource": "Primary Nagios"
}
